<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h2>Add a new user</h2>
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
            <form action="/users/create" method="POST">
                {%  csrf_token %}
                <p>First Name:</p>
                <input type="text" name="input_first_name">
                <p>Last Name:</p>
                <input type="text" name="input_last_name">
                <p>Email:</p>
                <input type="text" name="input_email">
                <input type="submit" value="Create">
            </form>
            <a href="/users">Go back</a>
        </div>
    </body>
</html>